/** Demo styles for mdCalendar. */
md-content {
  padding-bottom: 200px;
}

.validation-messages {
  font-size: 12px;
  color: #dd2c00;
  margin-left: 15px;
}

.md-calendar-date-within-range span.md-calendar-date-selection-indicator {
    background-color: #e7f3fd;
    border-radius: 0;

    &:hover {
        background-color: #90CAF9;
    }
}

.md-date-selected-hover span.md-calendar-date-selection-indicator {
    &:hover {
        background-color: #90CAF9;
        border-radius: 0;
    }
}


.md-calendar-date.md-calendar-date-disabled.md-date-is-end-date span.md-calendar-date-selection-indicator,
 .md-calendar-date.md-calendar-date-disabled.md-date-is-start-date span.md-calendar-date-selection-indicator {
    background-color: #E0E0E0;
    border-color: #E0E0E0;
    border-radius: 0;
    cursor: default;
}

.md-default-theme .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator,
 .md-calendar-date.md-calendar-date-today.md-calendar-date-within-range span.md-calendar-date-selection-indicator {
    border: none;
    color: #000;
    font-weight: bold;

    &:hover {
        background-color: #90CAF9;
        border-radius: 0;
    }
}

.md-default-theme .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator,
 .md-calendar-date.md-calendar-date-today.md-today-not-selected span.md-calendar-date-selection-indicator {
    background-color: transparent;
}

.md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,
 .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,
  .md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator,
   .md-calendar-date.md-calendar-date-within-range.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
    background-color: #1976D2;
    color: #fff;

    &:hover {
        background-color: #90CAF9;
        color: #000;
    }
}

.md-calendar-date.md-calendar-date-today.md-calendar-selected-date.md-calendar-date-within-range span.md-calendar-date-selection-indicator {
    background-color: #1976D2;
    color: #fff;
}

.md-calendar-date.md-calendar-date-today.md-today-not-selected.md-date-selected-hover span.md-calendar-date-selection-indicator {
    border-radius: 0;
    border: none;
    font-weight: bold;

    &:hover {
        border: none;
        background-color: #90CAF9;
        color: #000;
    }
}
